$my-theme-colors: (
  "primary",
  "secondary",
  "success",
  "warning",
  "danger",
  "info",
  "dark"
);

$my-theme-fonts: (
  "primary": "'Poppins', sans-serif",
);

:root {
  // Bootstrap colors
  @include defineColorHSL(--primary, 254, 57%, 59%);
  @include defineColorHSL(--secondary, 157, 74%, 54%);
  @include defineColorHSL(--success, 158, 75%, 45%);
  @include defineColorHSL(--warning, 43, 91%, 60%);
  @include defineColorHSL(--danger, 5, 78%, 57%);
  @include defineColorHSL(--info, 188, 60%, 51%);
  @include defineColorHSL(--grey, 215, 15%, 68%);
  @include defineColorHSL(--dark, 216, 11%, 46%);

  // Custom colors
  @include defineColorHSL(--color-smoke, 0, 0%, 96%);
  @include defineColorHSL(--color-base-primary, 0, 0%, 0%);
  @include defineColorHSL(--color-base-secondary, 0, 0%, 96%);
  @include defineColorHSL(--color-surface-primary, 216, 11%, 46%);
  @include defineColorHSL(--color-shadow-primary, 233, 100%, 62%);
  @include defineColorHSL(--color-shadow-primary, 233, 100%, 62%);

  // Shadows
  --shadow-primary: 0 3px 3.2vmin -5px #{alpha(
      var(--color-shadow-primary),
      0.15
    )};
  --shadow-deep: 0 2px 3vmin -5px #{alpha(var(--color-shadow-primary), 0.3)};

  // Generating font variables
  @each $type, $family in $my-theme-fonts {
    --font-#{$type}: #{$family};
  }
}

$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
);
